h1{
    font-size: 50px;
    font-family: Times New Roman;
    font-weight: bold;
}

h2{
    font-weight: bold;
    font-size: 20px;
    font-family: Times New Roman;
}


header, section, footer, aside, nav, article, hgroup{

    display:block;
    
}

body{
    text-align: center;
}

.agrupar{
    background: greenyellow;
    width: 960px;
    margin: 15px auto;
   
    
}